 
 <section class="baila-section section-six" style="padding:0; margin: 0;">
    <div class="container-fluid" style="width: 100%; margin: auto; border: none;">
      <div class="row footer-row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 footer-left ">
          <div id="logo-float">            
          <a href="https://www.bailabollywood.com/" target="_blank"> <img class="footer-logo mt-5"
              src="/images/baila-bollywood-transparent-white.png" alt="spanish bolo" style="width: 140px; height: 140px;"></a>
          
          <a href="https://www.spanishbolo.com/" target="_blank"> <img class="footer-logo mt-5"
              src="/images/spanish-bolo-logo.png" style="max-width: 140px; max-height: 140px;" alt="spanish bolo"></a>
          </div>
          <p class="text-white text-center mt-3">Nuestros proyectos <a href="https://www.spanishbolo.com/" target="_blank">SpanishBOLO</a> y BailaBollywood exploran los rincones culturales  de la India y el mundo hispanohablante, para compartir estas riquezas con nuestros lectores, y así,  afianzar el  vínculo entre ambas regiones, creando un sentido de comunidad y hermandad social.   
    </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 footer-center">
          <h4 class="mt-5  display-5">Conecta con Nosotros :</h4>
          <br>
          <div class="social-icons row justify-content-center">
            <a href="https://www.facebook.com/Baila-Bollywood-105697461007966/"
              class="col-4 fa fa-facebook text-center" title="Facebook Link" target="_blank"></a>
           
            <a href="https://www.linkedin.com/in/baila-bollywood-3a3b031a1" class="col-4 fa fa-linkedin  text-center"
              title="Linkedin Link" target="_blank"></a>
            <a href="https://instagram.com/bailabollywood20?igshid=15jmz5uzyz1jj"
              class="col-4 fa fa-instagram text-center" title="Instagram Link" target="_blank"></a>
            <a href="https://www.quora.com/share/Baila-Bollywood-on-Instagram-Introducing-Baila-Bollywood-3-days-to-go-bailabollywood-spanishculture-indianculture-bollywood-music-spanishbolo-1?ch=3&share=2cd5e92a&srid=uOprOw"
              title="Quora Link" class="col-4 fa fa-quora  text-center" target="_blank"></a>
            <a href=" https://link.medium.com/jSOvCnafY3" class="col-4 fa fa-medium  text-center" title="Medium Link"
              target="_blank"></a>
              <a href="https://www.youtube.com/channel/UCUb7jsujf73W8NaVYXqOZ1w?view_as=subscriber" class="col-4 fa fa-youtube  text-center" title="Youtube Link"
              target="_blank"></a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 footer-right">
          <img src="/images/baila-bollywood-transparent-white.png" class="footer-right-img " alt="baila bollywood">
        </div>
      </div>
    </div>
  </section>

  <div class="footer-section ">
        <span class="float-left">
        <a style="text-decoration: underline;" href="#privacyPolicyModal" class="text-white text-center  mb-1"  data-toggle="modal" data-target="#privacyPolicyModal">Política de Privacidad</a>
      </span><span class="float-right">
    &copy; 2020 Copyright BailaBollywood<img src="/images/Spanish-bolo-natraj-transparent.png" alt="Spanish Bolo">
  </span>
</div>