<meta charset="UTF-8">
  <!--Title of the Website-->
  <title>Baila Bollywood-Un portal sobre la cultura India </title>
  <!-----Canonical URL-->
  <link rel="canonical" href="https://www.bailabollywood.com">
  <!--Meta tag that tells browser to not translate page to english (Preferably chrome)-->
  <meta name="google" content="notranslate" />
  <!--Meta tags for SEO-->
  <meta name="robots" content="index, follow" />
   <meta name="keywords" content="Cine India, Canciones de Bollywood, Baile de Bollywood, Películas hindú, Películas de la india, Cultura India, Indian culture, Danzas de la India, Bailes de la India, Bollywood en español, Cine de Bollywood" />
   <meta name="title" content="Un portal sobre la cultura India " />
   <meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. " />
  <!--Meta tag for Responsiveness-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167518630-1">
  </script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167518630-1');
</script>
  <!--Meta tag for google site verification-->
 <!-- <meta name="google-site-verification" content="2wOPRHoRl4HV4Icz9ebaTgKnQfCukN1iF4TlETNWWk4" />
  -->
  

  <!-------------------Meta Tags for OG-->
<!-- HTML Meta Tags -->
<meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Baila Bollywood-A Spanish Language Portal on Indian Dance Songs">
<meta itemprop="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">
<meta itemprop="image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Primary Meta Tags -->


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.bailabollywood.com/">
<meta property="og:title" content="Un portal sobre la cultura India ">
<meta property="og:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="og:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.bailabollywood.com/">
<meta property="twitter:title" content="Un portal sobre la cultura India ">
<meta property="twitter:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="twitter:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

  <!--Title bar Icon--> 
  <link rel="icon" href="/images/Spanish-bolo-natraj-transparent.png" />
  <!---------------Bootstrap Stylesheet---------------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-------------------Custom css files------------------------------->
  <!---------------------------Google Fonts----------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet" />

  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <!-- Swiper css initialized-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/swiper.min.css" />
  <!-- Swiper javascript initialized-->
  <script src="scripts/swiper.min.js"></script>
  <!-------------Css file of index.html-------------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

  <!---------------Css file for responsiveness------------------>
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-breakpoints.css" />

  <!------------------Social Media Icons------------------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <!--Web app manfest file for android devices
  <link rel="manifest" href="manifest.json" />
  <meta name="theme-color" content="#373B44" />
  <link rel="apple-touch-icon" href="/images/baila-bollywood-icon.png" />
  <meta name="apple-mobile-web-app-status-bar" content="#373B44" />
  -->


<!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "Baila Bollywood",
  "sameAs": [
        "https://www.facebook.com/Baila-Bollywood-105697461007966/",
        "https://instagram.com/bailabollywood20?igshid=15jmz5uzyz1jj",
        "https://www.linkedin.com/in/baila-bollywood",
        "https://twitter.com/subhas_yadav"        
      ],
  "author" : {
    "@type" : "Person",
    "name" : "Subhas Yadav"
  },
  "headline": "Danza y Música Clásica de la India",
  "image": [
        "https://bailabollywood.com/images/lady-playing-sitar.jpg",
        "https://bailabollywood.com/images/painting-5.jpg",
        "https://bailabollywood.com/images/painting-4.jpg"
       ],

  "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://bailabollywood.com/"
      },
  "datePublished": "2019-02-05T08:00:00+08:00",
  "dateModified": "2020-02-05T09:20:00+08:00",
  "image" : "https://bailabollywood.com/images/Spanish-bolo-natraj-transparent.png",
  "articleSection" : "Danza y Música Clásica de la India",
  "articleBody" : "India</A> es famosa\npor sus formas de danzas clásicas que se\nencuentran por varias provincias del pais. Estas formas\ndel baile se utilizan principalmente para expresar historias\nde los textos mitológicos y religiosos. <BR/><BR/>Se otorga una gran\nimportancia a los gestos que se hacen con las manos, las\nexpresiones faciales y las posturas corporales a lo largo de\nla actuación. Las actuaciones clásicas indias comprenden de\ntres aspectos principales que son el ritmo, la expresión y\nla postura del cuerpo. Todos los bailarines se visten de\nvibrantes tonos de ropa que son diferentes para cada estilo.<BR/><BR/>\nPor ejemplo, los bailarines de\n<A href=\"https://es.wikipedia.org/wiki/Bharatanatyam\" target=\"_blank\" title=\"Forma de danza bharatnatyam\">Bharatnatyam</A> usan una sari donde,\nmientras que los bailarines de<A href=\"https://es.wikipedia.org/wiki/Kathak\" target=\"_blank\" title=\"Forma de danza Kathak\"> Kathak</A> usan anarkali.\nLas formas de danzas clásicas indias han pasado por\nun gran cambio después del contacto occidental,\nsin embargo, se pueden hacer muchos rastros de\nla presencia histórica de la etapa mogol y de los reinos de los Rajputs.",
  "url" : "https://bailabollywood.com/",
  "publisher" : {
    "@type" : "Organization",
    "name" : "Spanish Bolo",
    "logo": {
          "@type": "ImageObject",
          "url": "https://bailabollywood.com/images/Spanish-bolo-natraj-transparent.png"
        }
  }
}

</script>
<style>
    .bg-gr-oy{
        
  background:linear-gradient(to right,#ff5f6d,#f7b733);
    }
    
</style>