<!------------------------------------Navigation Bar Section-One------------------------------------------>

<nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  ">
  <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
      alt="Logo Of Baila Bollywood"></a>
  <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class=" navbar-toggler-icon"></span>
  </button>

 <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
        <ul class="navbar-nav nav nav-pills ">
          <li class="nav-item m-xl-2 active">
            <a class="nav-link text-center font-weight-bold " href="/">Inicio </a>
          </li>
          <li class="nav-item m-xl-2 active">
            <a class="nav-link text-center font-weight-bold " href="/equipo#toReach">Equipo </a>
          </li>
          
          
          <li class="nav-item m-xl-2">
            <a class="nav-link text-center font-weight-bold " href="/canal-bollywood">Canal Bollywood</a>
          </li>
          <li class="nav-item m-xl-2">
            <a class="nav-link text-center font-weight-bold " href="/chai-con-baila-bollywood">Chai Con Baila Bollywood</a>
          </li>
          
          <li class="nav-item m-xl-2">
            <a class="nav-link text-center font-weight-bold " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
          </li>
          <li class="nav-item m-xl-2">
            <a class="nav-link text-center font-weight-bold " href="/cafe-cultural">Cafe Cultural</a>
          </li>
          <li class="nav-item m-xl-2">
            <a class="nav-link text-center font-weight-bold " href="/places">Viajes a la India</a>
          </li>
          <li class="nav-item m-xl-2">
            <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
          </li>
          <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/sonidos-de-la-india">Sonidos De La India</a>
            </li>
          <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold" data-toggle="modal" data-target="#exampleModalCenter" >Contacto</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold" href="/distribution" >Distribution</a>
            </li>
        </ul>
        
    
  </div>
  
</nav>
