<html>
<head>
  <title>Interviews</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>


<style type="text/css">
body {
    background: #fc8b4f;
    position: relative;
}

 html,body
 {
  width: 100%;
  margin: 0;
  padding: 0;
 } 
 
.col-12.col-sm-12.col-md-5, .col-12.col-sm-12.col-md-7 {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}
.image-wrapper img {
    width: 100%;

}
#lt-blog p {
    padding-top: 10px;
} 
#read-btn {
    background: transparent;
    font-size: 20px;
    padding: 10px 40px;
    border: 2px solid black;
    color: black;
    border-radius: 20px;
    background:linear-gradient(to right,#ff5f6d,#f7b733)
}
  
#read-btn:hover {
    border-color: white;
    color: #fff;
}

div#lt-blog p span {
    color: #a9a9a9;
}

.container p {font-size:20px; }

@media only screen and (max-width: 600px) {
  .mobile-container{
    width:90%
  }
 .title-div{
   font-size: 25px;
 }
 .container-xtr{
   width: 95%;
 }
}
@media only screen and (min-width:600px){
  .mobile-container{
    width:90%;
  }
.title-div{
  font-size: 40px;;
}
div#top-post-container p {
    text-align: justify;
}

div#top-post-container h1 {
    text-align: justify;
}

}




.blog-list .blog-meta.big-meta h4 {
    margin-left: -20%;
    margin-top: 1rem;
    background-color: #10112c;
    padding: 1rem 1.5rem 1rem;
}

.blog-meta.big-meta h4 {
    font-size: 24px;
}

.blog-meta.big-meta h4 a{
    color: #fff;
}

div#top-post-container {
    background: #10112c;
}
.container.mobile-container p {
    color: #fff !important;
}
.container.mobile-container h1 {
    color: #fff !important;
}

.image-wrapper {
    background: #10112c;
    color: #fff;
    padding: 15px;
}
#radio-list{
  position: absolute; 
  left:70%; 
  width: 30%;
  top:13% ; 
  z-index:1080;
  display: block;
  list-style-type: none;
  border-radius: 10px;
  background-color: white;
  padding: 10px;

}

#radio-list li img{
  width:20%; height: auto;
  border-radius: 10px;
  
}

#radio-list li button{
   border:none;
   
   background-color: white;
}
#radio-list li button:hover{
  transform: scale(1.2) !important;
}
#radio-list li button span{
 text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991.98px) { 
  #radio-list{
  position: absolute; 
  left:50%; 
  width: 50%;
  top:13% ; 
  z-index:1080;
  display: block;
  list-style-type: none;
  border-radius: 10px;
  background-color: white;
  padding: 10px;

}
}
@media (max-width: 767.98px) { 
  #radio-list{
  position: absolute; 
  left:0%; 
  width: 100%;
  top:13% ; 
  z-index:1080;
  display: block;
  list-style-type: none;
  border-radius: 10px;
  background-color: white;
  padding: 10px;

}
 }



</style>

<!------Boot Strap Files-->


<script src="/scripts/spanish-to-english-translate.js"></script>
</head>


<body>
<!------------------------------------Navigation Bar Section-One------------------------------------------>

  <nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  ">
    <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
        alt="Logo Of Baila Bollywood"></a>
    <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-pills ">
            <li class="nav-item m-xl-2 active">
              <a class="nav-link text-center  " href="/">Inicio </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center  " href="/#about">
                Quiénes Somos
                </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center  " href="/#blogs">Nuestro Blog</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center  " href="/#pop-categ">Lo más Popular</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center  " href="/#found-note">Nuestro Fundador </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center  " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center  " href="/equipo">Equipo</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center  " href="/blogs">Blogs</a>
            </li>
            
          </ul>
      
    </div>
  
    <div style="margin-right: 3%;" id="radio-button">
    <img  src="https://img.icons8.com/pastel-glyph/64/000000/radio.png"/>
  </div>        
  </nav>





  <div class="container">
  
    <ul class="list-group" id="radio-list" style="display: none;">
      <li class="list-group-item d-flex justify-content-between align-items-center" >
        
        <img src="https://cdn.onlineradiobox.com/img/logo/6/3906.v6.png" >
        <span style="padding-left: 20px; padding-right: 20px;">  91.1 Radio City FM </span>
        <button class="play-btn" onclick='playRadio("radio-city")' >
          <audio id="radio-city" style="display: none;">

          <source src="https://prclive1.listenon.in/">

        </audio>
        
        
        <span class="fa fa-play-circle" style="font-size:50px;color:#0056b9">
        </span>
      
      </button>
      
      
      </li>




      <li class="list-group-item d-flex justify-content-between align-items-center" >
        
        <img src="https://cdn.onlineradiobox.com/img/logo/7/60907.v12.png" >
        <span style="padding-left: 20px; padding-right: 20px;">  Retro Bollywood  </span>
        <button class="play-btn" onclick='playRadio("retro-bollywood")' >
          <audio id="retro-bollywood" style="display: none;">
            
          <source src="https://stream.zeno.fm/60ef4p33vxquv">

        </audio>
        
        
        <span class="fa fa-play-circle" style="font-size:50px;color:#c5a31f;">
        </span>
      
      </button>
      
      </li>




      <li class="list-group-item d-flex justify-content-between align-items-center" >
        
        <img src="https://cdn.onlineradiobox.com/img/logo/1/3791.v2.png" >
        <span style="padding-left: 20px; padding-right: 20px;">  FM Rainbow </span>
        <button class="play-btn" onclick='playRadio("hits-of-bollywood")' >
          <audio id="hits-of-bollywood" style="display: none;">
            
          <source src="http://64.71.79.181:5124/stream">

        </audio>
        
        
        <span class="fa fa-play-circle" style="font-size:50px;color:#000000;">
        </span>
      
      </button>
      
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center" >
        
        <img src="https://cdn.onlineradiobox.com/img/logo/3/78503.v10.png" >
        <span style="padding-left: 20px; padding-right: 20px;">  Bollywood Punjabi Radio </span>
        <button class="play-btn" onclick='playRadio("bollywood-pubjabi-radio")' >
          <audio id="bollywood-pubjabi-radio" style="display: none;">
            
          <source src="https://stream.zeno.fm/1k0y9f0cm0quv">

        </audio>
        
        
        <span class="fa fa-play-circle" style="font-size:50px;color:#932121;">
        </span>
      
      </button>
      </li>
      <li >
        <div class="container">
        <button class="float-right" id="close-btn-radio">
      <span style='font-size:20px; '>&#10006;</span>
    </button>
  </div>
      </li>

      


    </ul>
  </div>


 

  <script>
   
  $(".target").each(function(){
    let text = ( $(this).text());
    text = text.substring(0,200);
    text = text + "...."
    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
  
  $("#radio-button").on('click',function(){
    if($("#radio-list").css('display')==='none')
    $("#radio-list").css('display','block');
    else
    $("#radio-list").css('display','none');
    
  });
  $("#close-btn-radio").on('click',function(){
    if($("#radio-list").css('display')==='block')
    $("#radio-list").css('display','none');
    
    
  });
  
  function playRadio(id) {
    var audio = document.getElementById(id);
    if(audio.paused)
    audio.play();
    else
    audio.pause();
}
</script>

</body>
</html>